<h4>Relatório de Vendas Mensais</h4>
<div class="ion-padding custom-skeleton" *ngIf="!data">
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</div>
<div>
  <canvas id="myChart" width="250" height="120"></canvas>
</div>